h1{
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: yellow;
}

.btn-container {
    display: flex;
    justify-content: center;  /* horizontal center */
    align-items: center;      /* vertical center */
    height: 100vh;            /* full screen height */
}

#redbtn{
    background-color: red;
    color: white;
    padding: 50px 50px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    float: left;
    margin-left: 16px;
    align-items: center;
}

#greenbtn{
    background-color: green;
    color: white;
    padding: 50px 50px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    float: left;
    margin-left: 16px;
    align-items: center;
}

#blackbtn{
    background-color: black;
    color: white;
    padding: 50px 50px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    float: left;
    margin-left: 16px;
    align-items: center;
}
#peachbtn{
    background-color: peachpuff;
    color: black;
    padding: 50px 50px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    float: left;
    margin-left: 16px;
    align-items: center;
}